@using ProyectAdmin.BL.DTOs.OrdersDTOs
@model CreateOrderInputDTO

<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Producto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .product-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px; /* Espacio entre la imagen y el formulario */
        }

        .product-details {
            padding: 20px;
        }

        .form-heading {
            margin-bottom: 20px;
        }

        .product-info {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 5px;
        }

            .product-info h4 {
                color: #343a40;
                font-size: 20px;
                margin-bottom: 15px;
            }

            .product-info ul {
                list-style: none;
                padding-left: 0;
            }

            .product-info li {
                margin-bottom: 10px;
            }

                .product-info li strong {
                    font-weight: bold;
                }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row">

            <!-- Columna del formulario -->
            <div class="col-md-6">
                <div class="card product-details">
                    <!-- Texto "Reservar Producto" arriba del formulario -->
                    <h4 class="form-heading">Reservar Producto</h4>

                    <!-- Formulario para ingresar datos -->
                    <form method="post" asp-controller="PushesOrder" asp-action="Create">
                        <!-- Agrega los campos del formulario aquí -->
                        <div class="form-group col-md-12">
                            <label asp-for="IdProduct" class="font-weight-bold">Productos:</label>
                            <select asp-for="IdProduct" class="form-control">
                                <option value="">SELECCIONAR PRODUCTO</option>
                                @foreach (var producto in ViewBag.Productos)
                                {
                                    <option value="@producto.IdProduct">@producto.NameProduct</option>
                                }
                            </select>
                            <span asp-validation-for="IdProduct" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Names" class="form-label">Nombres:</label>
                            <input asp-for="Names" class="form-control" />
                            <span asp-validation-for="Names" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastNames" class="form-label">Apellidos:</label>
                            <input asp-for="LastNames" class="form-control" />
                            <span asp-validation-for="LastNames" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DUI" class="form-label">DUI:</label>
                            <input asp-for="DUI" class="form-control" />
                            <span asp-validation-for="DUI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Adress" class="form-label">Direccion:</label>
                            <input asp-for="Adress" class="form-control" />
                            <span asp-validation-for="Adress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="form-label">Numero de contacto:</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="form-label">Cantidad a reservar:</label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dimension" class="form-label">Dimension del pastel:</label>
                            <input asp-for="Dimension" class="form-control" />
                            <span asp-validation-for="Dimension" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dedication" class="form-label">Dedicatoria:</label>
                            <input asp-for="Dedication" class="form-control" />
                            <span asp-validation-for="Dedication" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeliverDate" class="form-label">Fecha de entrega</label>
                            <input asp-for="DeliverDate" class="form-control" type="date" />
                            <span asp-validation-for="DeliverDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Details" class="form-label">Mas detalles:</label>
                            <input asp-for="Details" class="form-control" />
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                        <!-- Agrega más campos según sea necesario -->

                        <button type="submit" class="btn btn-outline-dark">Reservar</button>
                        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-dark"><i class="bi bi-arrow-left"></i>Back to list</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>