@using ProyectAdmin.BL.DTOs.OrdersDTOs
@model CreateOrderInputDTO

<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Producto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="card" style="max-width: 600px; margin: 0 auto;">
            <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #343a40; border-bottom: 1px solid #e0e0e0;">
                <h3 style="margin: 0; padding: 10px; flex: 1; text-align: center; color: white;">Crear nuevo pastel</h3>
            </div>

            <div class="card-body" style="background-color: #FFFFFF;">
                <form asp-action="Create" method="post" class="row">
                    <div class="col-md-6">
                        <!-- Columna 1 -->
                        <div class="form-group">
                            <label asp-for="IdProduct" class="form-label">Productos:</label>
                            <select asp-for="IdProduct" class="form-control">
                                <option value="">SELECCIONAR PASTEL</option>
                                @foreach (var producto in ViewBag.Productos)
                                {
                                    <option value="@producto.IdProduct">@producto.NameProduct</option>
                                }
                            </select>
                            <span asp-validation-for="IdProduct" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Names" class="form-label">Nombres:</label>
                            <input asp-for="Names" class="form-control" placeholder="Ingrese sus nombres" />
                            <span asp-validation-for="Names" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastNames" class="form-label">Apellidos:</label>
                            <input asp-for="LastNames" class="form-control" placeholder="Ingrese sus apellidos" />
                            <span asp-validation-for="LastNames" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DUI" class="form-label">DUI:</label>
                            <input asp-for="DUI" class="form-control" placeholder="Ingrese su numero de DUI" />
                            <span asp-validation-for="DUI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Correo" class="form-label">Correo</label>
                            <input asp-for="Correo" class="form-control" placeholder="Ingrese su correo electronico" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Columna 2 -->
                        <div class="form-group">
                            <label asp-for="Phone" class="form-label">Numero de contacto:</label>
                            <input asp-for="Phone" class="form-control" placeholder="Ingrese su numero de contacto" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="form-label">Cantidad a reservar:</label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dimension" class="form-label">Dimension del pastel:</label>
                            <input asp-for="Dimension" class="form-control" placeholder="Ingrese las dimensiones deseadas" />
                            <span asp-validation-for="Dimension" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dedication" class="form-label">Dedicatoria:</label>
                            <input asp-for="Dedication" class="form-control" placeholder="Ingrese un mensaje" />
                            <span asp-validation-for="Dedication" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeliverDate" class="form-label">Fecha de entrega</label>
                            <input asp-for="DeliverDate" class="form-control" type="date" />
                            <span asp-validation-for="DeliverDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adress" class="form-label">Direccion:</label>
                        <input asp-for="Adress" class="form-control" placeholder="Ingrese su dirección" />
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="form-label">Mas detalles:</label>
                        <input asp-for="Details" class="form-control" placeholder="Ingrese detalles adicionles, arreglos, decoraciones, diseños, etc." />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Reservar</button>
                        <a asp-action="Index" asp-controller="Products" class="btn btn-info"><i class="bi bi-arrow-left"></i>volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

